name: My first workflow
on: push
jobs:
  my-first-job:
    runs-on: ubuntu-latest
    steps:
      - name: List all files
        run: ls -a
      - name: Prins working directory
        run: pwd
      - name: Create js file
        run: echo 'console.log("Hello World!");' > app.js
